#slider_box {
  width: 440px;
  float: left;
}
#slider {
  width: 440px;
  height:220px;
  position:relative;
  overflow:hidden;
}
#slider #imgs {
  position:absolute;
  top: 0;  left: 0;
  height:240px;
}
#slider #imgs li{
  float:left;
  z-index:0;
}
#slider #indexs {
  position:absolute;
  bottom:15px;
  right:30px;
  cursor: pointer;
}
#slider #indexs li {
  width: 18px;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  background: url(../img/icons.png) -855px -790px;
  border-radius: 50%;
  cursor: pointer;
  margin-left:10px;
}
#slider #indexs li.hover {
  background-position: -855px -727px;
}
.nav-list {
  position: fixed;
  background-color: #f6f9fa;
  border: 1px solid #e5e9ef;
  overflow: hidden;
  border-radius: 4px;
  width:50px;
  top:20px;
  right:10px;
  z-index: 100;
}
.nav-list .handler {
  width: 48px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  transition: background-color .3s, color .3s;
  cursor: pointer;
}
.nav-list .bg-src{
  background-color: #00a1d6;
}
.nav-list ul a{
  display: inline-block;
  width:100%;
  height: 100%;
}